img {
  border-radius: 10px;
  max-width:300px;
  max-height:200px;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

.padding-top {
  padding-top: 40px;
}

.padding-bottom {
  padding-bottom: 40px;
}
