<div class="row center">
  <% @robots.each do |r| %>
    <div class="col s4">
      <% r.each do |robot| %>
        <img src="<%= robot.avatar %>" />
        <h6><a id="robot" href="robots/<%= robot.id %>"><%= robot.name %></a></h6>
      <% end  %>
    </div>
  <% end %>
</div>
