<!DOCTYPE html>
<html>
  <head>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <meta charset="utf-8">
    <link rel="stylesheet" href="/custom.css">
    <title>Robot World</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Robot World</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/robots">Robots</a></li>
          <li><a href="/robots/new">New Robot</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
    <%= yield %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    </div>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright Text
        </div>
      </div>
    </footer>
  </body>
</html>
