<a href="/robots">Back to Robots</a><br/><br/>
<form class="" action="/robots" method="post">
  name<br/>
  <input type="text" name="robot[name]" /><br/><br/>
  city<br/>
  <input type="text" name="robot[city]" /><br/><br/>
  state<br/>
  <input type="text" name="robot[state]" /><br/><br/>
  avatar<br/>
  <input type="text" name="robot[avatar]" value="https://robohash.org/something"/><br/><br/>
  birthdate (xx/xx/xxxx)<br/>
  <input type="text" name="robot[birthdate]" /><br/><br/>
  date hired<br/>
  <input type="text" name="robot[date_hired]" /><br/><br/>
  department<br/>
  <input type="text" name="robot[department]" /><br/><br/>
  <input type="submit" value='submit'>
</form>
